.LinksPage-list {
  width: 100%;
}

.LinkList,
.LinkList ol {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--muted-color);
  font-size: 13px;
}

.LinkList--root {
  font-size: 16px;
}

.LinkList ol {
  // Somewhere to drop the first link of a group.
  min-height: 10px;
  margin-left: 27px;

  > :last-child {
    margin-bottom: 10px;
  }
}

.LinkListItem-info {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 5px;
  border-radius: var(--border-radius);

  &:hover {
    background: var(--control-bg);
  }
}

.LinkListItem-handle {
  flex: 0 0 auto;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.LinkListItem-icon {
  flex: 0 0 auto;
}

.LinkListItem-name {
  flex: 0 0 auto;
  color: var(--text-color);
}

.LinkListItem-url {
  flex: 0 1 auto;
  min-width: 0;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.LinkListItem-flags {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: auto;
  font-size: 13px;
}

.LinkListItem-audience {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.LinkListItem-controls {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.sortable-placeholder {
  border: 2px dashed var(--control-bg);
  border-radius: var(--border-radius);
  height: 34px;
}
